<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recherche de Restaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="main-header py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="header-logo white-icon">
            </a>            
            <nav>
                <a href="{{ url_for('restaurant') }}" class="nav-link">Les restaurants</a>
                <a href="{{ url_for('analyse') }}" class="nav-link">Analyse</a>
                <a href="{{ url_for('aboutus') }}" class="nav-link">A propos de nous</a>
            </nav>
        </div>
    </header>

    <!-- Section fixe avec l'image de fond et le texte -->
    <<div class="hero-section">
        <!-- Barre de recherche -->
        <div class="container" style="max-width: 55%;">
            <p class="intro-text fw-bold">Le guide des meilleurs</p>
            <p class="intro2-text fw-bold">restaurants de France </p>
            <form id="searchForm" action="{{ url_for('restaurant') }}" method="GET">
                <div class="card p-3 bg-blur">
                    <div class="row g-2">
                        <div class="col">
                            <select class="form-select" name="department" id="departmentSelect">
                                <option value="" selected>Sélectionnez un département</option>
                                <option value="01">01 - Ain</option>
                                <option value="02">02 - Aisne</option>
                                <option value="03">03 - Allier</option>
                                <option value="04">04 - Alpes-de-Haute-Provence</option>
                                <option value="05">05 - Hautes-Alpes</option>
                                <option value="06">06 - Alpes-Maritimes</option>
                                <option value="07">07 - Ardèche</option>
                                <option value="08">08 - Ardennes</option>
                                <option value="09">09 - Ariège</option>
                                <option value="10">10 - Aube</option>
                                <option value="11">11 - Aude</option>
                                <option value="12">12 - Aveyron</option>
                                <option value="13">13 - Bouches-du-Rhône</option>
                                <option value="14">14 - Calvados</option>
                                <option value="15">15 - Cantal</option>
                                <option value="16">16 - Charente</option>
                                <option value="17">17 - Charente-Maritime</option>
                                <option value="18">18 - Cher</option>
                                <option value="19">19 - Corrèze</option>
                                <option value="2A">2A - Corse-du-Sud</option>
                                <option value="2B">2B - Haute-Corse</option>
                                <option value="21">21 - Côte-d'Or</option>
                                <option value="22">22 - Côtes-d'Armor</option>
                                <option value="23">23 - Creuse</option>
                                <option value="24">24 - Dordogne</option>
                                <option value="25">25 - Doubs</option>
                                <option value="26">26 - Drôme</option>
                                <option value="27">27 - Eure</option>
                                <option value="28">28 - Eure-et-Loir</option>
                                <option value="29">29 - Finistère</option>
                                <option value="30">30 - Gard</option>
                                <option value="31">31 - Haute-Garonne</option>
                                <option value="32">32 - Gers</option>
                                <option value="33">33 - Gironde</option>
                                <option value="34">34 - Hérault</option>
                                <option value="35">35 - Ille-et-Vilaine</option>
                                <option value="36">36 - Indre</option>
                                <option value="37">37 - Indre-et-Loire</option>
                                <option value="38">38 - Isère</option>
                                <option value="39">39 - Jura</option>
                                <option value="40">40 - Landes</option>
                                <option value="41">41 - Loir-et-Cher</option>
                                <option value="42">42 - Loire</option>
                                <option value="43">43 - Haute-Loire</option>
                                <option value="44">44 - Loire-Atlantique</option>
                                <option value="45">45 - Loiret</option>
                                <option value="46">46 - Lot</option>
                                <option value="47">47 - Lot-et-Garonne</option>
                                <option value="48">48 - Lozère</option>
                                <option value="49">49 - Maine-et-Loire</option>
                                <option value="50">50 - Manche</option>
                                <option value="51">51 - Marne</option>
                                <option value="52">52 - Haute-Marne</option>
                                <option value="53">53 - Mayenne</option>
                                <option value="54">54 - Meurthe-et-Moselle</option>
                                <option value="55">55 - Meuse</option>
                                <option value="56">56 - Morbihan</option>
                                <option value="57">57 - Moselle</option>
                                <option value="58">58 - Nièvre</option>
                                <option value="59">59 - Nord</option>
                                <option value="60">60 - Oise</option>
                                <option value="61">61 - Orne</option>
                                <option value="62">62 - Pas-de-Calais</option>
                                <option value="63">63 - Puy-de-Dôme</option>
                                <option value="64">64 - Pyrénées-Atlantiques</option>
                                <option value="65">65 - Hautes-Pyrénées</option>
                                <option value="66">66 - Pyrénées-Orientales</option>
                                <option value="67">67 - Bas-Rhin</option>
                                <option value="68">68 - Haut-Rhin</option>
                                <option value="69">69 - Rhône</option>
                                <option value="70">70 - Haute-Saône</option>
                                <option value="71">71 - Saône-et-Loire</option>
                                <option value="72">72 - Sarthe</option>
                                <option value="73">73 - Savoie</option>
                                <option value="74">74 - Haute-Savoie</option>
                                <option value="75">75 - Paris</option>
                                <option value="76">76 - Seine-Maritime</option>
                                <option value="77">77 - Seine-et-Marne</option>
                                <option value="78">78 - Yvelines</option>
                                <option value="79">79 - Deux-Sèvres</option>
                                <option value="80">80 - Somme</option>
                                <option value="81">81 - Tarn</option>
                                <option value="82">82 - Tarn-et-Garonne</option>
                                <option value="83">83 - Var</option>
                                <option value="84">84 - Vaucluse</option>
                                <option value="85">85 - Vendée</option>
                                <option value="86">86 - Vienne</option>
                                <option value="87">87 - Haute-Vienne</option>
                                <option value="88">88 - Vosges</option>
                                <option value="89">89 - Yonne</option>
                                <option value="90">90 - Territoire de Belfort</option>
                                <option value="91">91 - Essonne</option>
                                <option value="92">92 - Hauts-de-Seine</option>
                                <option value="93">93 - Seine-Saint-Denis</option>
                                <option value="94">94 - Val-de-Marne</option>
                                <option value="95">95 - Val-d'Oise</option>
                                <option value="971">971 - Guadeloupe</option>
                                <option value="972">972 - Martinique</option>
                                <option value="973">973 - Guyane</option>
                                <option value="974">974 - La Réunion</option>
                                <option value="976">976 - Mayotte</option>
                                <option value="98">98 - Monaco</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" name="cuisine" id="cuisineSelect">
                                <option value="" selected>Type de cuisine</option>
                                <option value="Français">Français</option>
                                <option value="Gastronomique">Gastronomique</option>
                                <option value="Méditerranéen">Méditerranéen</option>
                                <option value="Italien">Italien</option>
                                <option value="Japonais">Japonais</option>
                                <option value="Moderne">Moderne</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" name="min_rating" id="ratingSelect">
                                <option value="0" selected>Note minimum</option>
                                <option value="5">Minimum 5</option>
                                <option value="10">Minimum 10</option>
                                <option value="15">Minimum 15</option>
                                <option value="17">Minimum 17</option>
                                <option value="20">Note maximal</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary d-flex align-items-center">
                                <span class="me-1">🔍</span> Recherche
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="under-text fw-bold mt-1">Découvrez les restaurants de votre choix et explorez de nouvelles saveurs près de chez vous !</p>
        </div>
    </div>



    <!-- Section avec contenu défilant en dessous de l'image -->
    <div class="grid-wrapper">
    <div class="home-choice container mt-5">
    <h2 class="cate-text">Découvrez les meilleurs restaurants </h2>
    <h2 class="catet-text">Explorez toutes nos catégories afin de trouver le restaurant italien, la brasserie moderne, le resto japonais, le gastronomique qui vous convient</h2>

    <!-- Bloc de catégories -->
    <div class="category-grid">
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Français') }}" class="nav-link2">
                <img src="/static/assets/francais.jpg" alt="Français" class="category-img">
                <div class="category-label">Français</div>
            </a>
        </div> <!-- Closing the category-item div -->
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Gastronomique') }}" class="nav-link2">
                <img src="/static/assets/gastronomique.jpg" alt="Gastronomique" class="category-img">
                <div class="category-label">Gastronomique</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Méditerranéen') }}" class="nav-link2">
                <img src="/static/assets/mediterraneen.png" alt="Méditerranéen" class="category-img">
                <div class="category-label">Méditerranéen</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Italien')}}" class="nav-link2">
                <img src="/static/assets/italienne.jpg" alt="Italien" class="category-img">
                <div class="category-label">Italien</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Japonais') }}" class="nav-link2">
                <img src="/static/assets/japonnais.jpg" alt="Japonais" class="category-img">
                <div class="category-label">Japonais</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Moderne') }}" class="nav-link2">
                <img src="/static/assets/moderne.jpg" alt="moderne" class="category-img">
                <div class="category-label">Moderne</div>
            </a>
        </div>
    </div>
    </div>
</div>


    <!-- Footer -->
    <footer class="footer mt-auto py-4 bg-dark text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex gap-4 mb-3 mb-md-0">
                        <a href="{{ url_for('restaurant') }}" class="text-white text-decoration-none">
                            <i class="bi bi-database-fill me-1"></i>
                            Les restaurants
                        </a>
                        <a href="{{ url_for('analyse') }}" class="text-white text-decoration-none">
                            <i class="bi bi-graph-up me-1  "></i>
                            Analyse
                        </a>
                        <a href="{{ url_for('aboutus') }}" class="text-white text-decoration-none">
                            <i class="bi bi-info-circle-fill me-1"></i>
                            A propos de nous
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0">Copyrigth©2024 Owen BRAUX & Elliot CAMBIER - DSIA-4201C : DataEngineering</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
    document.addEventListener("scroll", function () {
        const header = document.querySelector(".main-header");
        const scrollY = window.scrollY;
        const threshold = window.innerHeight / 3; // Seuil à la moitié de la hauteur de la fenêtre

        if (scrollY > threshold) {
            header.classList.add("hidden");
        } else {
            header.classList.remove("hidden");
        }
    });
    </script>

</body>
</html>