<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recherche de Restaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="main-header py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="#" class="navbar-brand">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="header-logo white-icon">
            </a>
            <nav>
                <a href="{{ url_for('restaurant') }}" class="nav-link">Les restaurants</a>
                <a href="{{ url_for('analyse') }}" class="nav-link">Analyse</a>
                <a href="{{ url_for('aboutus') }}" class="nav-link">A propos de nous</a>
            </nav>
        </div>
    </header>

    <!-- Section fixe avec l'image de fond et le texte -->
    <div class="hero-section">
        <!-- Barre de recherche -->
        <div class="container" style="max-width: 55%;">
            <p class="intro-text fw-bold">Le guide des meilleurs</p>
            <p class="intro2-text fw-bold">restaurants de France </p>
            <div class="card p-3 bg-blur">
                <div class="row g-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Où ?">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Quoi ?">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Combien ?">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary d-flex align-items-center">
                             <span class="me-1">🔍</span> Recherche
                        </button>
                    </div>
                </div>
            </div>
            <p class="under-text fw-bold mt-1">Découvrez les restaurants de votre choix et explorez de nouvelles saveurs près de chez vous !</p>
        </div>
    </div>



    <!-- Section avec contenu défilant en dessous de l'image -->
    <div class="grid-wrapper">
    <div class="home-choice container mt-5">
    <h2 class="cate-text">Découvrez les meilleurs restaurants </h2>
    <h2 class="catet-text">Explorez toutes nos catégories afin de trouver le restaurant italien, la brasserie moderne, le resto japonais, le gastronomique qui vous convient</h2>

    <!-- Bloc de catégories -->
    <div class="category-grid">
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Français') }}" class="nav-link">
                <img src="/static/assets/francais.jpg" alt="Français" class="category-img">
                <div class="category-label">Français</div>
            </a> 
        </div> <!-- Closing the category-item div -->
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Gastronomique') }}" class="nav-link"></a>
                <img src="/static/assets/gastronomique.jpg" alt="Gastronomique" class="category-img">
                <div class="category-label">Gastronomique</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Méditerranéen') }}" class="nav-link"></a>
                <img src="/static/assets/mediterraneen.png" alt="Méditerranéen" class="category-img">
                <div class="category-label">Méditerranéen</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Italien')}}" class="nav-link"></a>
                <img src="/static/assets/italienne.jpg" alt="Italien" class="category-img">
                <div class="category-label">Italien</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Japonais') }}" class="nav-link"></a>
                <img src="/static/assets/japonnais.jpg" alt="Japonais" class="category-img">
                <div class="category-label">Japonais</div>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('restaurant', min_rating=0, department='', cuisine='Moderne') }}" class="nav-link"></a>
                <img src="/static/assets/moderne.jpg" alt="moderne" class="category-img">
                <div class="category-label">Moderne</div>
            </a>
        </div>
    </div>
    </div>
</div>


    <!-- Footer -->
    <footer class="footer mt-auto py-4 bg-dark text-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex gap-4 mb-3 mb-md-0">
                        <a href="{{ url_for('restaurant') }}" class="text-white text-decoration-none">
                            <i class="bi bi-database-fill me-1"></i>
                            Les restaurants
                        </a>
                        <a href="{{ url_for('analyse') }}" class="text-white text-decoration-none">
                            <i class="bi bi-graph-up me-1  "></i>
                            Analyse
                        </a>
                        <a href="{{ url_for('aboutus') }}" class="text-white text-decoration-none">
                            <i class="bi bi-info-circle-fill me-1"></i>
                            A propos de nous
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0">Copyrigth©2024 Owen BRAUX & Elliot CAMBIER - DSIA-4201C : DataEngineering</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
    document.addEventListener("scroll", function () {
        const header = document.querySelector(".main-header");
        const scrollY = window.scrollY;
        const threshold = window.innerHeight / 3; // Seuil à la moitié de la hauteur de la fenêtre

        if (scrollY > threshold) {
            header.classList.add("hidden");
        } else {
            header.classList.remove("hidden");
        }
    });
    </script>

</body>
</html>